.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Ajustes para que los iconos se vean bien al lado del texto */
.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    top: -1px;
    background-size: cover;
}

/* Color cuando pasas el mouse por encima */
.nav-link:hover {
    color: white !important;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.25rem;
}

/* En pantallas grandes, damos un poco de espacio a los items */
@media (min-width: 641px) {
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}