@page "/discos/{Id:int}"
@using escuchify_app.Components.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer




<PageTitle>Detalle de un Disco</PageTitle>
    
<h1>Disco</h1>

@if (disco == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@disco.Id</dd>

        <dt class="col-sm-2">Titulo</dt>
        <dd class="col-sm-10">@disco.Titulo</dd>

        <dt class="col-sm-2">Año de Lanzamiento</dt>
        <dd class="col-sm-10">@disco.AnioLanzamiento</dd>

        <dt class="col-sm-2">Tipo de Disco</dt>
        <dd class="col-sm-10">@disco.TipoDisco</dd>
    </dl>

    <div class="mb-3">
        <button class="btn btn-primary" @onclick="() => EditarDisco()">
            Editar
        </button>
        <button class="btn btn-secondary" @onclick="() => VolverALista()">
            Volver a la lista
        </button>
    </div>
    
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Disco? disco;
    protected override async Task OnInitializedAsync()
    {
        await LoadDisco();
    }

    private async Task LoadDisco()
    {
        disco = await HttpClient.GetFromJsonAsync<Disco>($"http://localhost:5126/discos/{Id}");
    }
    private void VolverALista()
    {
        NavigationManager.NavigateTo(uri: "/discos");
    }

    private void EditarDisco()
    {
        NavigationManager.NavigateTo($"/discos/editar/{Id}");
    }

}